{% extends 'base_user.html' %}
{% block title %}Главная{% endblock %}

{% block content %}

    {% if step == 1 %}
        <section class="step1 py-5">
            <div class="container py-5">
                <div class="row mb-5" id="notification">
                    {% if messages %}
                        <div class="container">
                            {% for message in messages %}
                                <div style="margin-bottom: 5px"
                                     class="text-white bg-primary border rounded border-primary d-flex flex-column justify-content-between align-items-center flex-lg-row p-2 p-lg-4">
                                    <div class="text-center text-lg-start py-3 py-lg-1">
                                        <h2 class="fw-bold mb-2">Внимание!</h2>
                                        <p class="mb-0">{{ message }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <p class="fw-bold text-success mb-2">AITU Digital Controling · {{ profile.full_name }}</p>
                        <h2 class="fw-bold">Взять ключ от кабинета</h2>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 col-xl-4">
                        <div>
                            <form class="p-3 p-xl-4" method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input style="display: none" required class="form-control" type="text" id="room"
                                           name="room"
                                           placeholder="Кабинет">
                                    <p>Выберите кабинет:
                                        <select id="selectroom" class="js-select2"
                                                style="border-radius: 10px;border-color: #9f9f9f;font-size: 20px">
                                            {% for room in room_list %}
                                                <option value="{{ room.name }}">{{ room.name }}</option>
                                            {% endfor %}
                                        </select></p>
                                </div>
                                <div class="mb-3">

                                </div>
                                <div class="mb-3">
                                <textarea class="form-control" id="note" name="note" rows="6"
                                          placeholder="Комментарий (по желанию)"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-primary shadow d-block w-100" type="submit">Получить код
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4 d-flex justify-content-center justify-content-xl-start">
                        <div class="d-flex flex-wrap flex-md-column justify-content-md-start align-items-md-start h-100">
                            <div class="d-flex align-items-center p-3">
                                <div class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                         viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                                    </svg>
                                </div>
                                <div class="px-2">
                                    <h6 class="fw-bold mb-0">Внимание!</h6>
                                    <p class="text-muted mb-0">Заполняйте и отправляйте форму не позднее, чем за 5 минут
                                        перед самим походом за ключом.</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center p-3">
                                <div class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                         viewBox="0 0 16 16" class="bi bi-question-diamond-fill">
                                        <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM5.495 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"></path>
                                    </svg>
                                </div>
                                <div class="px-2">
                                    <h6 class="fw-bold mb-0">Шаг 1</h6>
                                    <p class="text-muted mb-0">Выберите кабинет. Имейте ввиду, что доступны только
                                        свободные
                                        кабинеты.</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center p-3">
                                <div class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                         viewBox="0 0 16 16" class="bi bi-question-circle-fill">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"></path>
                                    </svg>
                                </div>
                                <div class="px-2">
                                    <h6 class="fw-bold mb-0">Шаг 2</h6>
                                    <p class="text-muted mb-0">Подойдите к охране, подтвердите завку с помощью кода.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% elif step == 2 %}
        <section class="step2 py-5">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <p class="fw-bold text-success mb-2">AITU Digital Controling · {{ profile.full_name }}</p>
                        <h2 class="fw-bold">Взять ключ от кабинета</h2>
                    </div>
                </div>
                <div class="border rounded border-white d-flex flex-column justify-content-between align-items-center flex-lg-row bg-primary-gradient p-4 p-lg-5">
                    <div class="text-center text-lg-start py-3 py-lg-1">
                        <h2 class="fw-bold mb-2">Подтверждение ({{ room }})</h2>
                        <p class="mb-0">Подойдите к охране и покажите Ваш код. Заявка активна
                            до {{ timestamp_code }}.</p>
                    </div>
                    <form class="d-flex justify-content-center flex-wrap flex-lg-nowrap" method="post">
                        {% csrf_token %}
                        <div class="my-2"><input class="border rounded-pill shadow-sm form-control form-control-lg"
                                                 type="email" name="email" placeholder="Код: {{ code }}" readonly=""
                                                 value="Код: {{ code }}"></div>
                    </form>
                </div>
            </div>
        </section>
        <section class="step3 py-5">

        </section>
    {% endif %}


    <script>
        //console.log("{{ profile.email }}")
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var socket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/canceledOrConfirmed_order/");
        socket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            console.log(data)
            if (data.email === "{{ profile.email }}") {
                createNotification(data)
            }
        };

        function createNotification(data) {
            if (data.msg_id === 1) {
                const elementsToDelete2 = document.getElementsByClassName("step2");
                for (let i = 0; i < elementsToDelete2.length; i++) {
                    elementsToDelete2[i].remove();
                }
                const elementsToDelete1 = document.getElementsByClassName("step1");
                for (let i = 0; i < elementsToDelete1.length; i++) {
                    elementsToDelete1[i].remove();
                }
                document.getElementsByClassName("step3")[0].innerHTML = `
                <div class="container">
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <p class="fw-bold text-success mb-2">AITU Digital Controling · {{ profile.full_name }}</p>
                        <h2 class="fw-bold">Взять ключ от кабинета</h2>
                    </div>
                </div>
                <div class="border rounded border-white d-flex flex-column justify-content-between align-items-center flex-lg-row bg-primary-gradient p-4 p-lg-5">
                    <div class="text-center text-lg-start py-3 py-lg-1">
                        <h2 class="fw-bold mb-2">Ошибка</h2>
                        <p class="mb-0">${data.msg}</p>
                    </div>
                    <div class="d-flex justify-content-center flex-wrap flex-lg-nowrap">
                        <a class="btn btn-primary shadow d-block w-100" href="{% url 'home' %}">На главную</a>
                    </div>
                </div>
            </div>
                `
            } else if (data.msg_id === 2) {
                const elementsToDelete2 = document.getElementsByClassName("step2");
                for (let i = 0; i < elementsToDelete2.length; i++) {
                    elementsToDelete2[i].remove();
                }
                const elementsToDelete1 = document.getElementsByClassName("step1");
                for (let i = 0; i < elementsToDelete1.length; i++) {
                    elementsToDelete1[i].remove();
                }
                document.getElementsByClassName("step3")[0].innerHTML = `
                <div class="container">
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <p class="fw-bold text-success mb-2">AITU Digital Controling · {{ profile.full_name }}</p>
                        <h2 class="fw-bold">Взять ключ от кабинета</h2>
                    </div>
                </div>
                <div class="border rounded border-white d-flex flex-column justify-content-between align-items-center flex-lg-row bg-primary-gradient p-4 p-lg-5">
                    <div class="text-center text-lg-start py-3 py-lg-1">
                        <h2 class="fw-bold mb-2">Успешно!</h2>
                        <p class="mb-0">Заявка была подтверждена!</p>
                    </div>
                    <div class="d-flex justify-content-center flex-wrap flex-lg-nowrap">
                        <a class="btn btn-primary shadow d-block w-100" href="{% url 'home' %}">На главную</a>
                    </div>
                </div>
            </div>
                `
            }
        }
    </script>
{% endblock %}