{% extends 'base_user.html' %}
{% block title %}Регистрация{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">AITU Digital Controlling</p>
                    <h2 class="fw-bold">Регистрация</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div>
                        <form class="p-3 p-xl-4" method="post">
                            {% csrf_token %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="fw-bold text-danger mb-2">
                                        <svg class="bi bi-exclamation-circle-fill" xmlns="http://www.w3.org/2000/svg"
                                             width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                                             style="padding-bottom: 0px;margin-bottom: 0px;margin-top: -4px;">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                                        </svg>
                                          {{ message}}
                                    </p>
                                {% endfor %}
                            {% endif %}
                            <div class="mb-3"><input class="form-control" type="text" id="name-1" name="fullname"
                                                     placeholder="Fullname" required></div>
                            <div class="mb-3"><input class="form-control" type="email" id="email-2" name="email"
                                                     placeholder="Email" required></div>
                            <div class="mb-3"><input class="form-control" id="password-1" type="password"
                                                     name="password" placeholder="Password" required></div>
                            <div class="mb-3">
                                {% for radio in form.role %}
                                    <div class="form-check form-check-reverse">
                                        <input class="form-check-input" type="radio" id="{{ radio.id_for_label }}"
                                               name="role"
                                               checked value="{{ radio.choice_label }}">
                                        <label class="form-check-label"
                                               for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="mb-3"></div>
                            <div>
                                <button class="btn btn-primary shadow d-block w-100" type="submit">Далее</button>
                            </div>
                        </form>
                        <div>Уже есть аккаунт? <a href="{% url 'login_user' %}">Войти</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}