{% extends 'base_user.html' %}

{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">AITU Digital Controlling</p>
                    <h2 class="fw-bold">Регистрация</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div>
                        <form class="p-3 p-xl-4" method="post">
                            {%  csrf_token %}
                 {% if messages %}
                    {% for message in messages %}
                        <span class="badge bg-dark mb-2">{{ message }}</span>
                    {% endfor %}
                {% endif %}
                            <div class="mb-3"><input class="form-control" type="text" id="name-1" name="fullname" placeholder="Fullname"></div>
                            <div class="mb-3"><input class="form-control" type="email" id="email-2" name="email" placeholder="Email"></div>
                            <div class="mb-3"><input class="form-control" id="password-1" type="password" name="password" placeholder="Password"></div>
                            <div class="mb-3"></div>
                            <div><button class="btn btn-primary shadow d-block w-100" type="submit">Далее</button></div>
                        </form>
    <div>Уже есть аккаунт? <a href="{% url 'login_user' %}">Войти</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}