{% extends 'base.html' %}
{% block title %}Success{% endblock %}
{% block content %}
    <div id="step5a" class="container">
          <div class="text-center p-4 p-lg-5">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6 mb-4">
                <div class="card text-white bg-info shadow">
                  <div class="card-body bg-primary">
                    <h1 class="fw-bold text-center mb-4">УСПЕШНО!</h1>
                    <p id="total_steps" class="m-0">{{ role }} {{ fullname }} взял ключ от кабинета {{ room }}.</p>
                    <p id="date_steps" class="text-white-50 small m-0">{{ date }}</p>
                  </div>
                </div>
              </div>
            </div>
            <p style="margin-top: 10px;"><a href="/keytaking/step2/" class="fw-bold" style="text-align: left;color: rgb(96,96,96); text-decoration:none">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-reply-all-fill">
              <path d="M8.021 11.9 3.453 8.62a.719.719 0 0 1 0-1.238L8.021 4.1a.716.716 0 0 1 1.079.619V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"></path>
              <path d="M5.232 4.293a.5.5 0 0 1-.106.7L1.114 7.945a.5.5 0 0 1-.042.028.147.147 0 0 0 0 .252.503.503 0 0 1 .042.028l4.012 2.954a.5.5 0 1 1-.593.805L.539 9.073a1.147 1.147 0 0 1 0-1.946l3.994-2.94a.5.5 0 0 1 .699.106z"></path>
          </svg>&nbsp;Вернуться в начало</a></p>
            <hr>
          </div>
        </div>
{% endblock %}

