{% extends 'base.html' %}
{% block title %}Шаг 2  · Вернуть ключ{% endblock %}
{% block content %}
    {% load static %}


    {% if messages %}
        {% for message in messages %}
            <div class="text-bg-dark border rounded flex-column justify-content-between align-items-center flex-lg-row"
                 style="margin-left: 20px;margin-right: 20px;margin-top: 10px;padding-right: 20px;padding-top: 15px;padding-bottom: 10px;padding-left: 20px;margin-bottom: 5px;">
                <p style="margin-bottom: 5px;">Внимание!</p>
                <p style="margin-bottom: 10px;">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container-fluid" style="margin-top: 10px">
        <div class="card shadow mb-5">
            <div class="card-header py-3" style="padding-bottom: 10px;">
                <p class="text-primary m-0 fw-bold">Шаг 2 · <span
                        style="font-weight: normal !important;">Вернуть ключ</span></p>
            </div>
            <div class="card-body">
                <div class="row gy-4 gx-md-0 gy-md-0 row-cols-1 row-cols-md-2 row-cols-xl-3 d-md-flex d-xl-flex align-items-md-center">
                    <div class="col offset-xl-2">
                        <div class="text-sm-center text-md-end text-lg-end text-xl-end text-xxl-end">
                            {% if qr_image %}
                                <img src="{{ media_url }}returnerQR.png" style="width: 195px;" height="auto"
                                     width="100%">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            {#                            <h4 class="text-start text-sm-center text-md-start text-lg-start text-xl-start text-xxl-start text-danger d-xxl-flex justify-content-xxl-start"#}
                            {#                                style="color: rgb(55,55,55);font-size: 20px;">НЕ РАБОТАЕТ</h4>#}
                            <h4 class="text-start text-sm-center text-md-start text-lg-start text-xl-start text-xxl-start d-xxl-flex justify-content-xxl-start"
                                style="color: rgb(55,55,55);font-size: 20px;">Отсканируйте QR код</h4>
                            <p class="text-start text-sm-center text-md-start text-lg-start text-xl-start text-xxl-start d-xxl-flex justify-content-xxl-start"
                               style="font-size: 13px;">Время действия QR кода - 5 минут.<br>Перед подтверждением заявки
                                через QR код необходимо войти в аккаунт.</p>
                        </div>
                        <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                           data-bs-target="#modalRoomsList">Показать все заявки</a>
                    </div>
                </div>
                <div class="d-xl-flex justify-content-xl-center align-items-xl-end"></div>
                <hr>
                <a href="{% url 'homeMain' %}" class="fw-bold mb-2"
                   style="font-size: 15px;color: rgb(102,102,102);text-align: left; text-decoration:none">
                    <i class="fas fa-reply-all"></i>&nbsp;Вернуться в главное меню</a>
            </div>
        </div>
    </div>





    <div class="modal fade" id="modalRoomsList" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding-top: 5px;padding-bottom: 5px;padding-left: 10px;">
                    <h5 class="modal-title text-primary" style="font-size: 15px;">Доступные заявки</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"
                     style="margin-bottom: 0px;padding-bottom: 5px;margin-top: 0px;padding-top: 0px;">
                    {% if history_obj|length %}
                        <div class="input-group" style="margin-top: 5px;">
                            <input id="inputSearch"
                                   class="bg-light form-control form-control-sm border-0 small" type="text"
                                   placeholder="Поиск кабинета" style="font-size: 13px;margin-left: 196px;">
                            <button id="searchButton" class="btn btn-primary py-0" type="button"
                                    style="margin-right: -2px;padding-right: 5px;padding-left: 5px;">
                                <i class="fas fa-search" style="font-size: 14px;"></i>
                            </button>
                        </div>
                        <div id="historyList">
                            {% for history in history_obj %}
                                <div class="card" style="margin-left: -10px;margin-right: -10px;margin-top: 5px;">
                                    <div class="card-header"
                                         style="padding-bottom: 4px;padding-top: 5px;padding-left: 10px;">
                                        <h6 class="m-0" style="font-size: 14px;">Заявка #{{ history.id }}</h6>
                                        <h6 class="m-0"
                                            style="font-size: 12px;top: 0.4rem;right: 1rem;position: absolute;">
                                            {{ history.date }}</h6>
                                    </div>
                                    <div class="card-body d-xxl-flex"
                                         style="padding-bottom: 0px;padding-top: 0px;margin-bottom: 6px;margin-top: 5px;">
                                        <p style="font-size: 13px;padding-bottom: 0px;margin-bottom: 0px;">
                                            <strong>ФИО: </strong>{{ history.fullname }} ({{ history.role }})<br>
                                            <strong>Комната: </strong>{{ history.room }}
                                        </p>
                                        <button id="{{ history.id }}" data-bs-toggle="modal"
                                                data-bs-target="#modalRoomConfirm{{ history.id }}"
                                                class="btn btn-outline-success d-xxl-flex mt-auto" type="button"
                                                data-bs-dismiss="modal"
                                                style="font-size: 10px;padding-top: 3px;padding-right: 10px;padding-left: 10px;padding-bottom: 3px;bottom: 0.5rem;right: 0.5rem;position: absolute;margin-top: 0px;">
                                            Вернуть ключ
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="text-center py-3" style="font-size: 13px;">Нет занятых кабинетов.</div>
                    {% endif %}
                </div>
                <div class="modal-footer"
                     style="margin-bottom: -7px;padding-bottom: 10px;padding-top: 5px;padding-right: 10px;">
                    <nav class="d-lg-flex"
                         style="bottom: 0rem;left: 0.5rem;position: absolute;padding-bottom: 0px;margin-bottom: -9px;">
                        {% if history_count > 5 %}
                            <ul class="pagination pagination-sm">
                                <li id="PrevElem" class="page-item disabled d-xxl-flex"><a class="page-link"
                                                                                           aria-label="Previous"
                                                                                           href="#"><span
                                        aria-hidden="true">« Назад</span></a>
                                </li>
                                <li class="page-item active"><a id="historyPage" class="page-link" href="#">1</a>
                                </li>
                                <li id="NextElem" class="page-item"><a class="page-link" aria-label="Next"
                                                                       href="#"><span
                                        aria-hidden="true">Далее »</span></a></li>
                            </ul>
                        {% endif %}
                    </nav>
                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal" style="font-size: 10px;">
                        Закрыть
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalsConfirm">
        {% for history in history_obj %}
            <div class="modal fade" id="modalRoomConfirm{{ history.id }}" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="padding-top: 5px;padding-bottom: 5px;padding-left: 10px;">
                            <h5 class="modal-title text-primary" style="font-size: 15px;">Подтвердить действие</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body"
                             style="margin-bottom: 0px;padding-bottom: 5px;margin-top: 0px;padding-top: 0px;">
                            <div class="card" style="margin-left: -10px;margin-right: -10px;margin-top: 5px;">
                                <div class="card-header"
                                     style="padding-bottom: 4px;padding-top: 5px;padding-left: 10px;">
                                    <h6 class="m-0" style="font-size: 14px;">Заявка #{{ history.id }}</h6>
                                    <h6 class="m-0"
                                        style="font-size: 12px;top: 0.4rem;right: 1rem;position: absolute;">{{ history.date }}</h6>
                                </div>
                                <div class="card-body d-xxl-flex"
                                     style="padding-bottom: 0px;padding-top: 0px;margin-bottom: 6px;margin-top: 5px;">
                                    <p style="font-size: 13px;padding-bottom: 0px;margin-bottom: 0px;">
                                        <strong>ФИО: </strong>{{ history.fullname }} ({{ history.role }})<br>
                                        <strong>Комната: </strong>{{ history.room }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"
                             style="margin-bottom: -7px;padding-bottom: 10px;padding-top: 5px;padding-right: 10px;">
                            <a href="{% url 'returnKeyConfirm' history.id %}" class="btn btn-primary"
                               style="font-size: 10px;">Вернуть ключ</a>
                            <a data-bs-toggle="modal" data-bs-target="#modalRoomsList" class="btn btn-danger"
                               type="button" data-bs-dismiss="modal" style="font-size: 10px;">Отменить</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>




    <script>
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var socket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/get_user_keyreturner/");
        socket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var myModal = new bootstrap.Modal(document.getElementById('modalRoomsList'), {
                keyboard: false
            });
            myModal.show();
            //console.log(data)
            clearHistoryList();
            clearHistoryConfirm();
            const historyContainer = document.getElementById("historyList")
            let object = document.createElement("div")
            fullname = '';
            if (data && data.length > 0 && data[0].fullname) {
                fullname = data[0].fullname;
            }
            object.innerHTML = `<div class="text-center py-3" style="font-size: 13px; margin-bottom: -20px;">Все заявки пользователя ${fullname}:</div>`
            historyContainer.appendChild(object)
            if (!data || data.length === 0) {
                return notFoundDisplayList();
            }
            //console.log(response.history_obj)
            fillHistoryList(data, 3)
            fillHistoryConfirm(data)
        };


        historyCount = {{ history_count }};
        objectsOnPage = 5

        nextElem = document.getElementById('NextElem')
        prevElem = document.getElementById('PrevElem')

        searchElem = document.getElementById('searchButton')

        if (nextElem) {
            nextElem.addEventListener("click", function () {
                if (!nextElem.classList.contains("disabled")) {
                    let historyPage = document.getElementById('historyPage');
                    updateHistoryList(parseInt(historyPage.textContent), 1)
                }
            });
        }

        if (prevElem) {
            prevElem.addEventListener("click", function () {
                if (!prevElem.classList.contains("disabled")) {
                    let historyPage = document.getElementById('historyPage');
                    updateHistoryList(parseInt(historyPage.textContent), 0)
                }
            });
        }

        if (searchElem) {
            searchElem.addEventListener("click", function () {
                if (!searchElem.classList.contains("disabled")) {
                    let room = document.getElementById('inputSearch').value;
                    searchRoom(room)
                }
            });
        }

        function clearHistoryList() {
            const historyContainer = document.getElementById("historyList")
            let historyLength = historyContainer.childNodes.length;
            while (historyLength > 0) {
                historyContainer.removeChild(historyContainer.firstChild)
                historyLength--
            }
        }

        function notFoundDisplayList() {
            const historyContainer = document.getElementById("historyList")
            let object = document.createElement("div")
            object.innerHTML = `<div class="text-center py-3" style="font-size: 13px;">Заявок не найдено.</div>`
            historyContainer.appendChild(object)
        }

        function fillHistoryList(response, step) {
            //console.log(response)
            const historyContainer = document.getElementById("historyList")
            let historyLength = response.length
            for (let i = 0; i < response.length; i++) {
                resp = response[i]
                let object = document.createElement("div")
                object.innerHTML = `
                <div class="card" style="margin-left: -10px;margin-right: -10px;margin-top: 5px;">
                                <div class="card-header"
                                     style="padding-bottom: 4px;padding-top: 5px;padding-left: 10px;">
                                    <h6 class="m-0" style="font-size: 14px;">Заявка #${resp.id}</h6>
                                    <h6 class="m-0" style="font-size: 12px;top: 0.4rem;right: 1rem;position: absolute;">
                                        ${resp.date}</h6>
                                </div>
                                <div class="card-body d-xxl-flex"
                                     style="padding-bottom: 0px;padding-top: 0px;margin-bottom: 6px;margin-top: 5px;">
                                    <p style="font-size: 13px;padding-bottom: 0px;margin-bottom: 0px;">
                                        <strong>ФИО: </strong>${resp.fullname} (${resp.role})<br>
                                        <strong>Комната: </strong>${resp.room}
                                    </p>
                                    <button data-bs-toggle="modal" data-bs-target="#modalRoomConfirm${resp.id}"
                                            class="btn btn-outline-success d-xxl-flex mt-auto" type="button"
                                            data-bs-dismiss="modal"
                                            style="font-size: 10px;padding-top: 3px;padding-right: 10px;padding-left: 10px;padding-bottom: 3px;bottom: 0.5rem;right: 0.5rem;position: absolute;margin-top: 0px;">
                                        Вернуть ключ
                                    </button>
                                </div>
                            </div>
                `
                historyContainer.appendChild(object)
            }
            if (step === 1) {
                let historyPage = document.getElementById('historyPage');
                historyPage.textContent = (parseInt(historyPage.textContent) + 1).toString();
                if (parseInt(document.getElementById('historyPage').textContent) >= Math.ceil(historyCount / objectsOnPage)) {
                    historyPage.textContent = (Math.ceil(historyCount / objectsOnPage)).toString()
                    nextElem.classList.add("disabled")
                }
                prevElem.classList.remove("disabled")
            } else if (step === 0) {
                let historyPage = document.getElementById('historyPage');
                if (historyPage) {
                    historyPage.textContent = (parseInt(historyPage.textContent) - 1).toString();
                    if (parseInt(document.getElementById('historyPage').textContent) <= 1) {
                        historyPage.textContent = "1"
                        prevElem.classList.add("disabled")
                    }
                    nextElem.classList.remove("disabled")
                }
            }
        }

        function clearHistoryConfirm() {
            const historyContainer = document.getElementById("modalsConfirm")
            let historyLength = historyContainer.childNodes.length;
            while (historyLength > 0) {
                historyContainer.removeChild(historyContainer.firstChild)
                historyLength--
            }
        }

        function fillHistoryConfirm(response) {
            const historyConfirmContainer = document.getElementById("modalsConfirm")
            let historyConfirmLength = response.length
            for (let i = 0; i < historyConfirmLength; i++) {
                resp = response[i]
                let object = document.createElement("div")
                respURL = location.protocol + "//" + location.host + `/keyreturner/returnKeyConfirm/${resp.id}/`;
                object.innerHTML = `
                <div class="modal fade" id="modalRoomConfirm${resp.id}" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="padding-top: 5px;padding-bottom: 5px;padding-left: 10px;">
                            <h5 class="modal-title text-primary" style="font-size: 15px;">Подтвердить действие</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body"
                             style="margin-bottom: 0px;padding-bottom: 5px;margin-top: 0px;padding-top: 0px;">
                            <div class="card" style="margin-left: -10px;margin-right: -10px;margin-top: 5px;">
                                <div class="card-header"
                                     style="padding-bottom: 4px;padding-top: 5px;padding-left: 10px;">
                                    <h6 class="m-0" style="font-size: 14px;">Заявка #${resp.id}</h6>
                                    <h6 class="m-0"
                                        style="font-size: 12px;top: 0.4rem;right: 1rem;position: absolute;">${resp.date}</h6>
                                </div>
                                <div class="card-body d-xxl-flex"
                                     style="padding-bottom: 0px;padding-top: 0px;margin-bottom: 6px;margin-top: 5px;">
                                    <p style="font-size: 13px;padding-bottom: 0px;margin-bottom: 0px;">
                                        <strong>ФИО: </strong>${resp.fullname} (${resp.role})<br>
                                        <strong>Комната: </strong>${resp.room}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"
                             style="margin-bottom: -7px;padding-bottom: 10px;padding-top: 5px;padding-right: 10px;">
                            <a href="${respURL}" class="btn btn-primary" style="font-size: 10px;">Вернуть ключ</a>
                            <a data-bs-toggle="modal" data-bs-target="#modalRoomsList" class="btn btn-danger"
                               type="button" data-bs-dismiss="modal" style="font-size: 10px;">Отменить</a>
                        </div>
                    </div>
                </div>
            </div>
                `
                historyConfirmContainer.appendChild(object)
            }
        }

        function updateHistoryList(page, step) {
            var xhr = new XMLHttpRequest();
            respURL = location.protocol + "//" + location.host + `/api/getHistoryData/${page}/${step}`;
            //console.log(respURL)
            xhr.open('GET', respURL, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    //console.log(response.history_obj)
                    clearHistoryList()
                    clearHistoryConfirm()
                    //console.log(response.history_obj)
                    fillHistoryList(response.history_obj, step)
                    fillHistoryConfirm(response.history_obj)
                }
            };
            xhr.send();
        }

        function searchRoom(room) {
            if (room === "") {
                return updateHistoryList(2, 0)
            }
            var xhr = new XMLHttpRequest();
            respURL = location.protocol + "//" + location.host + `/api/searchRoom/${room}`;
            //console.log(respURL)
            xhr.open('GET', respURL, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    //console.log(response.history_obj)
                    clearHistoryList();
                    clearHistoryConfirm();
                    if (response.error) {
                        return notFoundDisplayList();
                    }
                    //console.log(response.history_obj)
                    fillHistoryList(response.history_obj, 3)
                    fillHistoryConfirm(response.history_obj)
                    /*
                    if (!nextElem.classList.contains("disabled")) {
                        nextElem.classList.add("disabled")
                    }
                    if (!prevElem.classList.contains("disabled")) {
                        prevElem.classList.add("disabled")
                    }
                    */
                }
            };
            xhr.send();
        }

        window.addEventListener('beforeunload', function (event) {
            $.ajax({
                url: `${location.protocol}//${location.host}/main/update-qr/`,
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                }
            });
        })

    </script>
{% endblock %}