{% extends 'base.html' %}
{% block title %}Шаг 2{% endblock %}
{% block content %}
    {% load static %}
    <style>

        .roomFilling {
            fill: #4da2ff;
        }

        .roomFilling:hover {
            fill: #2c74c4;
        }

        .roomFilling.active {
            fill: #1cb93f;
        }

        .roomFilling.closed {
            fill: #ff4d4d;
        }

        .roomFilling.closed:hover {
            fill: #c93232;
        }

        .roomFilling.unavailable {
            fill: #989898;
        }

        .roomFilling.unavailable:hover {
            fill: #696767;
        }
    </style>



    {% if messages %}
        {% for message in messages %}
            <div class="text-bg-dark border rounded flex-column justify-content-between align-items-center flex-lg-row"
                 style="margin-left: 20px;margin-right: 20px;padding-right: 20px;padding-top: 15px;padding-bottom: 0px;padding-left: 20px;margin-top: 10px;">
                <p style="margin-bottom: 5px;">Внимание!</p>
                <p style="margin-bottom: 10px;">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container-fluid" style="padding-top: 20px;padding-bottom: 0px;">
        <div class="card shadow" style="padding-bottom: 0px;">
            <div class="card-header py-3"
                 style="padding-top: 14px;margin-top: -7px;padding-bottom: 7px;margin-bottom: -16px;">
                <p class="text-primary m-0 fw-bold"><span
                        style="background-color: rgb(255, 255, 255);">Шаг 2</span><span
                        style="background-color: rgba(248, 249, 252, 0);">&nbsp;</span><span
                        style="color: rgb(82, 119, 226); background-color: rgba(248, 249, 252, 0);">·</span><span
                        style="font-weight: normal !important; color: rgb(82, 119, 226); background-color: rgba(248, 249, 252, 0);"> Взять ключ</span>
                </p>
            </div>
            <div class="card-body" style="padding-top: 9px;padding-bottom: 0px;">
                <div class="text-center p-4 p-lg-5"
                     style="margin-top: -18px;padding-top: 39px;padding-right: 60px;margin-right: -15px;padding-left: 29px;margin-left: -15px;padding-bottom: 20px;margin-bottom: -39px;">
                    <p class="fw-bold text-dark mb-2" style="font-size: 25px;">Выберите кабинет</p>
                    <p class="fw-bold mb-2" style="font-size: 15px;text-align: right;color: rgb(78,78,78);">Поиск
                        комнаты:&nbsp;
                        <select id="selectroom" class="js-select2" name="room" placeholder="Выберите кабинет"
                                style="border-radius: 10px; width: 150px; text-align: left">
                            {% for room in rooms_obj %}
                                {% if room.is_visible and not room.is_occupied %}
                                    <option value="{{ room.map_id }}">{{ room.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </p>
                    <p class="fw-bold mb-2" style="font-size: 15px;text-align: right;color: rgb(78,78,78);">&nbsp;Этаж:&nbsp;
                        <select id="floorSelect"
                                class="form-select-sm" style="color: rgb(78,78,78);border-radius: 5px;font-size: 15px;">
                            <optgroup label="Этажи:">
                                <option value="1" selected="">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </optgroup>
                        </select></p>

                    <div id="box1" style="text-align:center;width:100%;height: 100%;">

                        <div id="InfoTable" class="card"
                             style="display: none; text-align: left; width: 300px;border-radius: 20px;border-bottom-left-radius: 0px;padding-top: 10px;padding-right: 0px;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;height: auto;padding-bottom: 8px;padding-left: 8px;border-width: 2px;">
                            <h4 id="InfoTableRoom" class="fw-bold"
                                style="font-size: 15px;color: rgb(255,255,255);margin-bottom: 0px;">
                                C1.2.240K
                                <span id="InfoRole">
                                    <span class="badge bg-secondary"
                                          style="font-weight: normal !important; font-size: 9px;padding-bottom: 2px;margin-bottom: 0px;margin-right: 2px;">Personal</span>
                                    <span class="badge bg-secondary"
                                          style="font-weight: normal !important; font-size: 9px;padding-bottom: 2px;margin-bottom: 0px;margin-right: 2px;">Personal</span>
                                </span>
                            </h4>
                            <p id="InfoTableDescr" class="fw-light"
                               style="font-size: 10px;margin-bottom: 0px;color: rgb(255,255,255);">
                                Компьютерный кабинет</p>
                            <p id="idRoomTable" class="fw-light"
                               style="font-size: 10px;margin-bottom: 0px;color: rgba(0,0,0,0.67);position: absolute;top: 5px;right: 10px;">
                                _2.240K</p>
                            <p id="InfoTableAddit" class="fw-light"
                               style="font-size: 11px;color: rgb(255,255,255);margin-bottom: -1px;">
                                ЗАНЯТО пользователем Alexey Fedenko</p>
                        </div>

                        <div id="Tablecontainer">
                            {% include 'MapFirstFloor.html' %}
                            {% include 'MapSecondFloor.html' %}
                            {% include 'MapThirdFloor.html' %}
                        </div>

                    </div>

                    <p class="fw-light text-black-50 mb-2"
                       style="font-size: 15px;text-align: right;color: rgb(78,78,78);">Map source: <a
                            href="https://yuujiso.github.io/aitumap/">github</a></p>
                    <h5 class="fw-bold mb-4" style="color: rgb(60,61,64);font-size: 20px;">Выбранный кабинет: <span
                            id="chosedroom_confirm" class="hidden_step"></span>&nbsp;
                        &nbsp;&nbsp;
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div style="display: none">
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <button id="btn_step2a"
                                    class="btn btn-outline-primary border rounded-pill border-primary me-2 py-2 px-4"
                                    type="submit"
                                    style="padding-left: 20px;padding-top: 5px;padding-right: 17px;margin-right: -2px;margin-bottom: 7px;">
                                Далее
                            </button>
                        </form>
                    </h5>
                    <hr>
                    <a href="{% url 'homeMain' %}" class="fw-bold mb-2"
                       style="font-size: 15px;color: rgb(102,102,102);text-align: left; text-decoration:none">
                        <i class="fas fa-reply-all"></i>&nbsp;Вернуться в главное меню</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/takeroom2.js' %}"></script>
    <script>
        $(document).ready(function () {

            {% for room in rooms_obj %}
                elem = document.getElementById("{{ room.map_id }}")
                if (elem) {
                    {% if not room.is_visible %}
                        elem.classList.add('unavailable');
                    {% elif room.is_occupied %}
                        elem.classList.add('closed');
                    {% endif %}
                    elem.classList.add('dbExist');
                }
            {% endfor %}

            for (let i = 0; i < elementsRoom.length; i++) {
                if (!elementsRoom[i].classList.contains('dbExist')) {
                    elementsRoom[i].classList.add('unavailable');
                }
            }
        })
    </script>
{% endblock %}