{% extends 'base.html' %}
{% block title %}Шаг 3 · Взять ключ{% endblock %}
{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="text-bg-dark border rounded flex-column justify-content-between align-items-center flex-lg-row"
                 style="margin-left: 20px;margin-right: 20px;margin-top: 10px;padding-right: 20px;padding-top: 15px;padding-bottom: 0px;padding-left: 20px;">
                <p style="margin-bottom: 5px;">Внимание!</p>
                <p style="margin-bottom: 10px;">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container-fluid" style="padding-top: 20px;padding-bottom: 0px;">
        <div class="card shadow" style="padding-bottom: 0px;">
            <div class="card-header py-3"
                 style="padding-top: 14px;margin-top: -7px;padding-bottom: 7px;margin-bottom: -16px;">
                <p class="text-primary m-0 fw-bold"><span
                        style="background-color: rgb(255, 255, 255);">Шаг 3&nbsp;</span><span
                        style="color: rgb(82, 119, 226); background-color: rgba(248, 249, 252, 0);">·</span><span
                        style="font-weight: normal !important; color: rgb(82, 119, 226); background-color: rgba(248, 249, 252, 0);"> Взять ключ · {{ request.session.room }}</span>
                </p>
            </div>
            <div class="card-body" style="padding-top: 9px;padding-bottom: 0px;">
                <div class="p-4 p-lg-5"
                     style="margin-top: -18px;padding-top: 39px;padding-right: 60px;margin-right: -15px;padding-left: 29px;margin-left: -15px;padding-bottom: 20px;margin-bottom: -24px;">
                    <p class="text-center fw-bold text-dark mb-2" style="font-size: 25px;">Подтвердите действие</p>
                    <div class="row gy-4 gx-md-0 gy-md-0 row-cols-1 row-cols-md-2 row-cols-xl-3 d-md-flex d-xl-flex align-items-md-center">
                        <div class="col offset-xl-2">
                            <div class="text-sm-center text-md-end text-lg-end text-xl-end text-xxl-end">
                                {% if qr_image %}
                                    <img src="{{ media_url }}qr.png" alt="not found" style="width: 200px;" height="auto"
                                         width="100%">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h4 class="text-start text-sm-center text-md-start text-lg-start text-xl-start text-xxl-start d-xxl-flex justify-content-xxl-start"
                                    style="color: rgb(55,55,55);font-size: 20px;">Отсканируйте QR код</h4>
                                <p class="text-start text-sm-center text-md-start text-lg-start text-xl-start text-xxl-start d-xxl-flex justify-content-xxl-start"
                                   style="font-size: 13px;">Время действия QR кода - 5 минут.<br>Перед подтверждением
                                    заявки через QR код необходимо войти в аккаунт.</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" id="btn_step3a" href="#" class=" fw-bold mb-4 btn btn-link"
                                    style="color: rgb(60,61,64);font-size: 15px; text-decoration:none">Нет аккаунта?
                                <span style="color: rgb(68, 101, 203); text-decoration:none">Ввести данные вручную</span>
                            </button>
                        </form>
                    </div>
                    <hr>
                    <a href="{% url 'homeMain' %}" class="fw-bold mb-2"
                       style="font-size: 15px;color: rgb(102,102,102);text-align: left; text-decoration:none">
                        <i class="fas fa-reply-all"></i>&nbsp;Вернуться в главное меню</a>
                </div>
            </div>
        </div>
    </div>


    <script>
        function checkVariableValue() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{% url 'takeroom_isVar_changed' %}', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    //console.log(response)
                    console.log(response.variable_is_confirm)
                    // Check if the value has changed
                    if (response.variable_is_confirm !== {{ is_confirm }}) {
                        // Redirect to another page
                        window.location.href = '{% url 'takeroomFinal' %}';
                    }
                }
            };
            xhr.send();
        }

        setInterval(checkVariableValue, 5000);
    </script>

{% endblock %}