{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Авторизация</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body class="bg-gradient-primary" style="background-image: url({% static 'img/aitu2.jpg' %}); font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image"
                                 style="background-image: url({% static 'img/logo-aitu-login4.png' %});"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Авторизация</h4>
                                </div>
                                {% if messages %}
                        {% for message in messages %}
                            <span class="text-danger" style="font-size: 14px;color: rgb(82,119,226);margin-bottom: 0px;margin-top: 0px;margin-left: 10px;">{{ message }}</span>
                        {% endfor %}
                    {% endif %}
                                <form class="user" method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <input style="border-radius: 10px;" class="form-control form-control-user" type="text"
                                               aria-describedby="emailHelp" placeholder="Username" name="username">
                                    </div>
                                    <div class="mb-3">
                                        <input style="border-radius: 10px;" class="form-control form-control-user" type="password"
                                               placeholder="Password" name="password">
                                    </div>
                                    <button style="border-radius: 10px;" class="btn btn-primary d-block btn-user w-100" type="submit">Login</button>
                                    <hr>
                                </form>
                                <div class="text-center"><a class="small" href="#">Forgot
                                    Password?</a><span> Обратитесь к администратору</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>