{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    {% load static %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">{{ request.user.username }} ({{ request.user.email }})</h3>
        <div class="row mb-3">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col">
                        {% if messages %}
                            {% for message in messages %}
                                <span class="badge bg-dark fs-6 mb-2"><svg xmlns="http://www.w3.org/2000/svg"
                                                                           width="1em"
                                                                           height="1em" fill="currentColor"
                                                                           viewBox="0 0 16 16"
                                                                           class="bi bi-exclamation-circle-fill"
                                                                           style="padding-bottom: 0px;margin-bottom: 0px;margin-top: -4px;">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                                </svg>&nbsp;{{ message }}</span>
                            {% endfor %}
                        {% endif %}
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Изменить пароль</p>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label" for="username"><strong>Новый
                                                пароль</strong></label>
                                                <input class="form-control" type="password" id="new_password"
                                                       placeholder="New Password" name="new_password"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label" for="first_name"><strong>Введите
                                                старый пароль</strong></label>
                                                <input class="form-control" type="password" id="old_password"
                                                       placeholder="Old Password" name="old_password"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-primary btn-sm" type="submit" name="change_password">
                                            Обновить пароль
                                        </button>
                                        <span style="font-size: 14px;color: rgb(82,119,226);">&nbsp; Если вы не помните свой старый пароль - обратитесь к администратору.</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}